// Global colors
// --------
//
$primary: #39B3C6;
//$secondary: #FF9F46;
$secondary: darken(#FF9F46, 20%);
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
$light: #f0f2f5;
//$dark:          #495057;


// Navbar
// --------
//
$navbar-light-color: rgba(#000, .65);
$navbar-light-hover-color: rgba(#000, .8);
//$navbar-light-active-color: rgba(#000, 1);
$navbar-light-active-color: $secondary;
//$navbar-light-disabled-color:       rgba($black, .3) !default;


// Global COLORS
// --------
//
$enable-gradients: true;
$breadcrumb-divider: quote(">");


// Bootstrap import
// --------
//
@import "node_modules/bootstrap/scss/bootstrap";


// Custom styles
// --------
//
.navbar.navbar-light {
  img.bert {
    margin-right: 10px;
  }

  .navbar-brand {
    color: #000;
  }

  .nav-item {
    margin-left: 15px;

    &.nav-secondary {
      margin-left: 0;
    }

    &.separator {
      margin: 5px 15px;
      border-right: 1px solid darken(#fff, 25%);
    }
  }
}

.container {
  h1 {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
  }

  h2 {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
  }
}

#Header {
  background-color: $primary;
  padding: 40px 0;

  h1 {
    color: #fff;
    margin: 0;
  }

  p.highlight-text {
    color: rgba(#fff, 0.65);
    font-size: 1.25em;

    .highlight {
      color: #fff;
      font-size: 1.5em;
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  .badge {
    opacity: 0.65;
    padding: 5px 10px;
  }
}

#IndexButtonRow {
  margin-top:40px;

  a {
    //background-color: $secondary;
    //border: 1px solid darken($primary, 10%);
    border: none;
    background-color: darken($primary, 5%);
    color: #fff;

    &:hover {
      background-color: darken($primary, 10%);
    }
  }
}

#TypeToSearch {
  margin-top: 7px;

  background-color: lighten($primary, 10%);
  border: 1px solid lighten($primary, 20%);
  color: white;

  &:focus {
    border: 1px solid lighten($primary, 50%);
  }
}