// Defaults
// --------
//
$primary: #39B3C6;
$secondary: darken(#FF9F46, 10%);
$light: #f0f2f5;
$dark: darken($primary, 8%);

$enable-gradients: true;
$breadcrumb-divider: quote(">");

// -------- Navbar
$navbar-light-color: rgba(#000, .65);
$navbar-light-hover-color: rgba(#000, .8);
$navbar-light-active-color: $secondary;
$nav-pills-link-active-bg: $secondary;


// Bootstrap import
// --------
//
@import "node_modules/bootstrap/scss/bootstrap";


// Custom styles
// --------
//
.text-white-65 {
  color: rgba(255, 255, 255, 0.65);
}

.activate-tooltip {
  // fix flickering of tooltip on mouseover
  cursor: default;
  > * {
    pointer-events: none;
  }
}

.navbar.navbar-light {
  img.bert {
    margin-right: 10px;
  }

  .navbar-brand {
    color: #000;
  }

  .nav-item {
    margin-left: 15px;

    &.nav-secondary {
      margin-left: 0;
    }

    &.separator {
      margin: 5px 15px;
      border-right: 1px solid darken(#fff, 25%);
    }
  }
}

.container {
  h1 {
    color: $dark;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2.25rem;
  }

  h2 {
    color: $dark;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h3 {
    color: $dark;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

#Header {
  background-color: $primary;
  padding: 2rem 0;

  h1 {
    color: $white;
    margin: 0;
  }

  h2 {
    margin: 1rem 0 0 0;
    color: $white;
    font-size: 1.5rem;
  }

  .breadcrumb-nav {
    margin-top: 2rem;

    nav {
      ol.breadcrumb {
        margin: 0;
        border: 1px solid lighten($primary, 20%);

        li a {
          color: $white;
        }

        li::before {
          color: lighten($primary, 20%);
        }
      }
    }
  }
}

.card {
  .card-title {
    .notice {
      float: right;
      font-size: 0.8rem;
      text-transform: uppercase;
      color: $gray-600;
      margin-top: 0.2rem;
    }
  }
}

// --- Index

#Header {
  p.highlight-text {
    //text-transform: uppercase;
    color: lighten($primary, 35%);
    font-size: 1.1rem;
    line-height: 2.1rem;
    margin-top: 1rem;

    .highlight {
      padding: 0 6px;
      text-transform: none;
      color: lighten($primary, 49%);
      font-size: 2rem;
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  .badge {
    opacity: 0.65;
    padding: 5px 10px;
  }

  #IndexButtonRow {
    display: inline-block;
    margin-top: 1rem;

    border: 1px solid rgba(255, 255, 255, 0.4);

    a {
      width: 120px;

      > div {
        font-size: 1.3rem;
        opacity: 0.8;
      }

      //background-color: $secondary;
      //border: 1px solid $dark;
      //border: 1px solid rgba(255, 255, 255, 0.4);
      border: none;
      //background-color: $dark;
      color: #fff;

      &:hover {
        background-color: $dark;
      }
    }
  }
}

// --- Task/Languages/Adapters overview

#Header {
  #AdapterTypeNav {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    //border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  #TypeToSearch {
    margin-top: 7px;

    background-color: lighten($primary, 10%);
    border: 1px solid lighten($primary, 20%);
    color: #fff;

    &:focus {
      border: 1px solid lighten($primary, 50%);
    }

    &::placeholder {
      color: #fff;
      // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
      opacity: .8;
    }
  }

  #ModelTypeNav {
    .dropdown {
      display: inline-block;
    }
  }

  .adapter-nav {
    .navigation, .documentation {
      padding-top: 7px;
    }

    .navigation {
      //padding-top: 3px;
      p {
        float: left;
        font-weight: bold;
        //color: rgba(255,255,255,0.8);
        color: $white;
        margin: 0.5rem 1rem 0 0;
      }

      .dropdown {
        a.dropdown-toggle, a.active {
          background: $secondary;
          border: 1px solid $secondary;
          color: $white;
        }
      }

      .nav-item {
        margin-right: 4px;

        a.nav-link.active {
          background-color: $secondary;
          border: 1px solid $secondary;
          color: $white;
        }

        a:not(.active) {
          //background-color: rgba(255, 255, 255, 0.2);
          //border: 1px solid rgba(255, 255, 255, 0.2);
          //border: 1px solid $dark;
          border: 1px solid rgba(255, 255, 255, 0.4);

          color: $white;

          &:hover {
            background-color: $dark;
          }
        }
      }
    }

    .documentation {
      //padding-top: 12px;

      color: lighten($primary, 40%);
    }
  }
}

.task {
  margin-bottom: 1rem;

  h3 {
    i {
      font-size: 0.8em;
      margin-left: 5px;
    }
  }

  .subtasks {
    margin-top: 1rem;

    a {
      text-align: left;
      margin-bottom: 2rem;
    }
  }
}


#NoSearchResult {
  //margin-top: 5rem;
  .query {
    opacity: 0.65;
  }

  img {
    margin-top: 20px;
  }

  .speech-bubble {
    position: absolute;
    margin-left: 160px;
    max-width: 300px;
    background: $primary;
    border-radius: 1rem;
    color: $white;
    padding: 1rem;
  }

  .speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top-color: $primary;
    border-bottom: 0;
    border-left: 0;
    margin-left: -0px;
    margin-bottom: -25px;
  }
}

.adapters {
  margin-bottom: 1rem;

  h3 {
    i {
      font-size: 0.8em;
      margin-left: 5px;
    }
  }

  .adapter {
    margin-top: 1rem;

    a {
      text-align: left;
      margin-bottom: 2rem;
    }

    h5 {
      margin-bottom: 0;
    }

    .features {
      margin-bottom: 0.75rem;

      .badge {
        opacity: 0.8;
      }
    }
  }
}