{% extends 'base.html' %}
{% set active_page = "explore" %}
{% set specifier = adapter['task']+"/"+adapter['subtask']+"@"+adapter['groupname'] %}

{% block title %}{{ adapter['groupname'] + "/" + adapter['filename'] }}{% endblock %}

{% block header %}
<h1>Adapter</h1>
<h2>{{ adapter['groupname'] }} / <span class="text-white-65">{{ adapter['filename'] }}</span></h2>

<div class="row breadcrumb-nav">
    <nav aria-label="breadcrumb" class="col">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
                <a href="{{url_for('main.explore_tasks')}}">Explore</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{url_for('main.explore_tasks', task_type=adapter['type'])}}">{{ adapter.adapter_type.displayname }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{url_for('main.explore_adapters', task=adapter['task'], subtask=adapter['subtask'])}}">{{ adapter.subtask_ref }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{url_for('main.explore_adapters', task=adapter['task'], subtask=adapter['subtask'], model_type=adapter['model_type'])}}">{{ adapter['model_type'].title() }}</a>
            </li>
            <li class="breadcrumb-item text-white">
                {{ adapter }}
            </li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}

    <section class="mt-4 mb-4">
        <h3>Description</h3>
        <p>
            {{ adapter['description'] }}
        </p>
    </section>

    <section class="mt-4 mb-4">
        <h3>Usage</h3>
        <pre class="p-4 bg-light">
model = AutoModel.from_pretrained("{{ adapter.model_name }}")
model.load_adapter("{{specifier}}", "{{ adapter['type'] }}", config="{{ adapter['config'] }}")</pre>
        <i class="btn-clipboard"></i>
    </section>

{% if adapter.dependencies|length %}
<section class="mt-4 mb-4">
    <h3>Dependencies</h3>
    This adapter should be used together with these dependencies to achieve best results:
    <ul class="my-4">
        {% for dep in adapter.dependencies %}
        {% set dep_groupname, dep_filename = dep.key.split('/') %}
        <li class="my-2">
            <a href="{{ url_for('main.adapter_details', groupname=dep_groupname, filename=dep_filename) }}">{{ dep.key }}</a>
            - {{ dep.description }}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
<section class="row mt-4 mb-4">
    <div class="col-12">
        <h3>Properties</h3>
        <table class="table table-sm">
        <tr><td>Task</td><td>{{ adapter.subtask_ref.task_ref.displayname }}</td></tr>
        <tr><td>Dataset</td><td>{{ adapter.subtask_ref.displayname or adapter.subtask }}</td></tr>
        <tr><td>Pre-trained model</td><td>{{ adapter.model_name }}</td></tr>
        <tr><td>Adapter architecture name</td><td>{{ adapter['config'] }}</td></tr>
        <tr><td>Adapter ID</td><td>{{ adapter['config_id'] }}</td></tr>
        <tr><td>Author</td><td>{{ adapter['author'] }} ({{adapter['email']}})</td></tr>
        <tr><td>Web</td><td><a href="{{ adapter['url'] }}">{{ adapter['url'] }}</a></td></tr>
    </table>
    </div>
</section>
<section class="mt-4 mb-4">
    <h3>Versions</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Identifier</th>
                <th scope="row">URL</th>
            </tr>
        </thead>
        <tbody>
            {% for file in adapter.files %}
            <tr>
                <th scope="row">
                    {{ file['version'] }}
                    {% if file['version'] == adapter['default_version'] %}
                        <span class="badge badge-primary activate-tooltip" data-toggle="tooltip" data-placement="top" title="This is the default version for the adapter.">DEFAULT</span>
                    {% endif %}
                </th>
                <td><a href="{{ file['url'] }}">{{ file['url'] }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<section class="mt-4 mb-4">
    <h3>Citation</h3>
    <pre class="p-4 bg-light">{{ adapter['citation'] }}</pre>
</section>
{% endblock %}
