{% extends 'base.html' %}
{% set active_page = "adapters" %}

{% block header %}
    <h1>
        {% block title %} Adapters {% endblock %}
    </h1>
    <h2>
        A Unified Library for Parameter-Efficient and Modular Transfer Learning
    </h2>
{% endblock %}

{% block content %}

<script>
    window.location.replace("http://github.com/adapter-hub-adapters");
</script>

<section>
    Click here to go to our repository: <a href="http://github.com/adapter-hub-adapters">http://github.com/adapter-hub-adapters</a>
</section>

{% endblock %}
