{% extends 'base.html' %}
{% set active_page = "explore" %}
{% set specifier = adapter['task']+"/"+adapter['subtask']+"@"+adapter['groupname'] %}

{% block title %}{{ adapter['groupname'] + "/" + adapter['filename'] }}{% endblock %}

{% block header %}
{#<div class="row breadcrumb-nav">#}
{#    <nav aria-label="breadcrumb" class="col">#}
{#        <ol class="breadcrumb bg-transparent">#}
{#            <li class="breadcrumb-item">#}
{#                <a href="{{url_for('main.explore_tasks')}}">Explore</a>#}
{#            </li>#}
{#            <li class="breadcrumb-item">#}
{#                <a href="{{url_for('main.explore_tasks', task_type=adapter['type'])}}">{{ adapter.adapter_type.displayname }}</a>#}
{#            </li>#}
{#            <li class="breadcrumb-item">#}
{#                <a href="{{url_for('main.explore_adapters', task=adapter['task'], subtask=adapter['subtask'])}}">{{ adapter.subtask_ref }}</a>#}
{#            </li>#}
{#            <li class="breadcrumb-item">#}
{#                <a href="{{url_for('main.explore_adapters', task=adapter['task'], subtask=adapter['subtask'], model_type=adapter['model_type'])}}">{{ adapter['model_type'].title() }}</a>#}
{#            </li>#}
{#            <li class="breadcrumb-item text-white">#}
{#                {{ adapter }}#}
{#            </li>#}
{#        </ol>#}
{#    </nav>#}
{#</div>#}

<h1>{{ 'Language' if adapter.type == 'text_lang' else 'Task' }} Adapter</h1>
<h2>{{ adapter['groupname'] }} / <span class="text-white-65">{{ adapter['filename'] }}</span></h2>
{% endblock %}

{% block content %}

    <section>
        <h2>Description</h2>
        <p>
            {{ adapter['description'] }}
        </p>
    </section>

    <section>
        <h2>Usage</h2>
        {# Build config loading string #}
        {% set custom_config_str = "" %}
        {% if adapter.config_non_linearity %}
        {% set custom_config_str = custom_config_str + ", non_linearity=\""+adapter.config_non_linearity+"\"" %}
        {% endif %}
        {% if adapter.config_reduction_factor %}
        {% set custom_config_str = custom_config_str + ", reduction_factor="+adapter.config_reduction_factor %}
        {% endif %}
        <pre class="p-4 bg-light">
model = {{ adapter.model_class or "AutoModel" }}.from_pretrained("{{ adapter.model_name }}")
config = AdapterConfig.load("{{ adapter.config }}"{{ custom_config_str }})
model.load_adapter("{{specifier}}", "{{ adapter['type'] }}", config=config)</pre>
        <i class="btn-clipboard"></i>
    </section>

{% if adapter.dependencies|length %}
<section>
    <h2>Dependencies</h2>
    This adapter should be used together with these dependencies to achieve best results:
    <ul class="my-4">
        {% for dep in adapter.dependencies %}
        {% set dep_groupname, dep_filename = dep.key.split('/') %}
        <li class="my-2">
            <a href="{{ url_for('main.adapter_details', groupname=dep_groupname, filename=dep_filename) }}">{{ dep.key }}</a>
            - {{ dep.description }}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
<section class="row mb-4">
    <div class="col-12">
        <h2>Properties</h2>
        <table class="table table-sm table-hover">
        <tr class="d-flex"><td class="col-4 col-xl-3">Task</td><td class="col-8 col-xl-9">{{ adapter.subtask_ref.task_ref.displayname }}</td></tr>
        <tr class="d-flex"><td class="col-4 col-xl-3">Dataset</td><td class="col-8 col-xl-9">{{ adapter.subtask_ref.displayname or adapter.subtask }}</td></tr>
        <tr class="d-flex"><td class="col-4 col-xl-3">Pre-trained model</td><td class="col-8 col-xl-9">{{ adapter.model_name }}</td></tr>
        <tr class="d-flex"><td class="col-4 col-xl-3">Adapter architecture</td><td class="col-8 col-xl-9">{{ adapter['config'] + custom_config_str }}</td></tr>
        <tr class="d-flex"><td class="col-4 col-xl-3">Author</td><td class="col-8 col-xl-9">{{ adapter['author'] }} ({{adapter['email']}})</td></tr>
        <tr class="d-flex"><td class="col-4 col-xl-3">Web</td><td class="col-8 col-xl-9"><a href="{{ adapter['url'] }}">{{ adapter['url'] }}</a></td></tr>
    </table>
    </div>
</section>
<section>
    <h2>Versions</h2>
    <table class="table table-hover">
        <thead>
            <tr class="d-flex">
                <th scope="col" class="col-sm-5 col-md-4 col-xl-3">Identifier</th>
                <th scope="col" class="col-sm-7 col-md-6 col-xl-7">Comment</th>
                <th scope="col" class="col-md-2 text-right d-none d-md-table-cell">Download</th>
            </tr>
        </thead>
        <tbody>
            {% for file in adapter.files %}
            <tr class="d-flex">
                <th scope="row" class="col-4 col-xl-3">
                    {{ file['version'] }}
                    {% if file['version'] == adapter['default_version'] %}
                        <span class="badge badge-primary activate-tooltip" data-toggle="tooltip" data-placement="top" title="This is the default version for the adapter.">DEFAULT</span>
                    {% endif %}
                </th>
                <td  class="col-6 col-xl-7">{{ file.description or "" }}</td>
                <td class="text-right col-2 d-none d-md-table-cell"><a href="{{ file['url'] }}"><i class="fa fa-download"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<section class="mt-4 mb-4">
    <h2>Citation</h2>
    <pre class="p-4 bg-light">{{ adapter['citation'] }}</pre>
</section>
{% endblock %}
