{% extends 'base.html' %}
{% set active_page = "blog" %}

{% block title %}{{ post['title'] }}{% endblock %}

{% block meta %}
<meta name="description" content="{{ post['summary'] }}" />
{% endblock %}

{% block header %}
<div class="row breadcrumb-nav mb-3">
    <nav aria-label="breadcrumb" class="col">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
                <a href="{{url_for('main.blog')}}">Blog</a>
            </li>
        </ol>
    </nav>
</div>

<h1>{{ post['title'] }}</h1>
<ul class="blog-post-bar mt-4 mb-0">
    <li><i class="fa fa-calendar-alt"></i>&nbsp; {{ post['date'] }}</li>
    <li><i class="fa fa-user"></i>&nbsp;
    {% for author in post['authors'] %}
        {{ author.name }}
        {% if author['twitter'] %}
        &nbsp;<a href="https://twitter.com/{{ author['twitter'] }}"><i class="fab fa-twitter"></i></a>
        {% endif %}
        {% if not loop.last %}
        ,&nbsp;
        {% endif %}
    {% endfor %}
    </li>
</ul>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-10 my-2">
        {% if post['paper'] %}
            <a href="{{ post['paper']['url'] }}" class="d-block mb-4">
                <div class="code text-black">
                    {{ post['paper']['citation'] }}
                </div>
            </a>
        {% endif %}

        <div class="blog-post-content">
            {{ post }}
        </div>

        <div class="my-5">
            <a href="https://github.com/adapter-hub/website/blob/master/posts/{{ post.path }}.md">
                <i class="fa fa-edit"></i>&nbsp; Edit Post on GitHub
            </a>
        </div>
        
        <div id="col-lg-10 comments">
            <script src="https://utteranc.es/client.js"
                repo="{{ config.COMMENTS_REPO }}"
                issue-term="pathname"
                label="blog-post 💬"
                theme="github-light"
                crossorigin="anonymous"
                async>
            </script>
        </div>
    </div>

</div>

{% endblock %}
