{% extends 'base.html' %}
{% set active_page = "blog" %}

{% block title %}{{ post['title'] }}{% endblock %}

{% block meta %}
<meta name="description" content="{{ post['summary'] }}" />
{% endblock %}

{% block header %}
<div class="row breadcrumb-nav mb-3">
    <nav aria-label="breadcrumb" class="col">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
                <a href="{{url_for('main.blog')}}">Blog</a>
            </li>
        </ol>
    </nav>
</div>

<h1>{{ post['title'] }}</h1>
<ul class="blog-post-bar mt-4 mb-0">
    <li><i class="fa fa-calendar-alt"></i>&nbsp; {{ post['date'] }}</li>
    <li><i class="fa fa-user"></i>&nbsp; {{ post['author']['name'] }}</li>
    {% if post['author']['twitter'] %}
    <li>
        <a href="https://twitter.com/{{ post['author']['twitter'] }}">
            <i class="fab fa-twitter"></i>&nbsp; {{ post['author']['twitter'] }}
        </a>
    </li>
    {% endif %}
    {% if post['author']['github'] %}
    <li>
        <a href="https://github.com/{{ post['author']['github'] }}">
            <i class="fab fa-github"></i>&nbsp; {{ post['author']['github'] }}
        </a> 
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-10">
        {% if post['paper'] %}
        <a class="blog-paper btn card bg-light border-0" href="{{ post['paper']['url'] }}">
            {{ post['paper']['citation'] }}
        </a>
        {% endif %}
        
        {{ post }}

        <div class="my-5">
            <a href="https://github.com/adapter-hub/website/blob/master/posts/{{ post.path }}.md">
                <i class="fa fa-edit"></i>&nbsp; Edit Post on GitHub
            </a>
        </div>
        
        <div id="col-lg-10 comments">
            <script src="https://utteranc.es/client.js"
                repo="{{ config.COMMENTS_REPO }}"
                issue-term="pathname"
                label="blog-post 💬"
                theme="github-light"
                crossorigin="anonymous"
                async>
            </script>
        </div>
    </div>

    <div class="blog-share col-lg-2 mb-4">
        <div class="my-4 text-muted">
            Share
        </div>
        <a href="https://twitter.com/intent/tweet?text={{ post.title+' - '+config.FREEZER_BASE_URL+post.path }}">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
</div>

{% endblock %}
