{% extends 'base.html' %}
{% set active_page = "blog" %}

{% block title %} Blog {% endblock %}

{% block meta %}
<link rel="alternate" type="application/atom+xml" title="Feed for the AdapterHub Blog" href="{{ url_for('main.blog_feed') }}"/>
{% endblock %}

{% block header %}
<div class="float-right mt-1">
    <a href="{{ url_for('main.blog_feed') }}" class="btn btn-light btn-sm">
        <i class="fa fa-rss"></i>&nbsp; Feed
    </a>
</div>

<h1>Blog</h1>
{% endblock %}

{% block content %}

<div class="row posts">
    {% for post in posts|reverse %}
    <div class="col-xl-10 col-lg-12 my-lg-3 my-2">
        <a class="btn card bg-light border-0" href="{{ url_for('main.blog_post', path=post.path) }}">
            <div class="card-body">
                <h4 class="card-title text-left">
                    {{ post['title'] }}
                    <span class="notice d-none d-lg-block">
                        <i class="fa fa-calendar-alt"></i>&nbsp; {{ post['date'] }}
                        <span class="mr-2">&nbsp;</span>
                        <i class="fa fa-user"></i>&nbsp; {{ post['authors'][0]['name'] }}
                    </span>
                </h4>
                <p class="notice d-lg-none text-left">
                    <i class="fa fa-calendar-alt"></i>&nbsp; {{ post['date'] }}
                    <span class="mr-2">&nbsp;</span>
                    <i class="fa fa-user"></i>&nbsp; {{ post['authors'][0]['name'] }}
                </p>
                <p class="card-text text-left">
                    {{ post['summary'] }}
                </p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
