{% extends 'base.html' %}
{% set active_page = "emnlp" %}

{% block header %}
    <h1>
        {% block title %} EMNLP 2020 {% endblock %}
    </h1>
{% endblock %}

{% block content %}

    <a class="my-4 btn card bg-light border-0" href="{{ url_for('main.blog_post', path='2020/11/adapting-transformers-with-adapterhub') }}">
        <div class="card-body text-left">
            <h5 class="my-0">
                <i class="fa fa-book-reader"></i>&nbsp;
                Blog Post: Introduction to AdapterHub
            </h5>
        </div>
    </a>
    <a class="my-4 btn card bg-light border-0" href="https://colab.research.google.com/drive/1QR2Vy4mJFUi5r3HaQVROY3dQ9QMTJqhR?usp=sharing">
        <div class="card-body text-left">
            <h5 class="my-0">
                <i class="fa fa-laptop-code"></i>&nbsp;
                Colab Notebook 1: Training an Adapter for a Transformer model
            </h5>
        </div>
    </a>
    <a class="my-4 btn card bg-light border-0" href="https://colab.research.google.com/drive/1ovA1_ENGU1TT4T6nz2bW2bzq8-Lg8mMW?usp=sharing">
        <div class="card-body text-left">
            <h5 class="my-0">
                <i class="fa fa-laptop-code"></i>&nbsp;
                Colab Notebook 2: Using Adapters from AdapterHub
            </h5>
        </div>
    </a>
    <a class="my-4 btn card bg-light border-0" href="https://colab.research.google.com/drive/1bt_EmBe00s4TldihSavA7ha9Pq2inDY4?usp=sharing">
        <div class="card-body text-left">
            <h5 class="my-0">
                <i class="fa fa-laptop-code"></i>&nbsp;
                Colab Notebook 3: Combining Pre-Trained Adapters using AdapterFusion
            </h5>
        </div>
    </a>

{% endblock %}
