{% extends 'base.html' %}
{% set active_page = "explore" %}

{% block header %}
    <div class="row adapter-nav" id="AdapterTypeNav">
        <div class="col-lg-2">
            <h1>
                {% block title %} Explore {% endblock %}
            </h1>
        </div>
        <div class="col-lg-5 col-xl-4">
            <div class="navigation">
                <p>Adapters for</p>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="{{ 'nav-link active' if task_type.id == 'text_task' else 'nav-link' }}"
                           href="{{ url_for('main.explore_tasks', task_type='text_task') }}">
                            Tasks
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="{{ 'nav-link active' if task_type.id == 'text_lang' else 'nav-link' }}"
                           href="{{ url_for('main.explore_tasks', task_type='text_lang') }}">
                            Languages
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg documentation">
            <i class="fa fa-book"></i>
            {{ task_type.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type="text" class="form-control form-control-lg" id="TypeToSearch"
                   placeholder="Type to filter {{ 'languages' if task_type.id == 'text_lang' else 'tasks' }}...">
        </div>
    </div>
{% endblock %}

{% block content %}
    {% for task in tasks %}
        <div class="task mb-4">
            <h3 class="mb-2">{{ task.displayname }}
            <i class="fas fa-info-circle activate-tooltip" data-toggle="tooltip" data-placement="top" title="{{ task.description }}"></i>
            </h3>
            <div class="row subtasks">
                {% for subtask in subtasks[task.task] %}
                    <div class="col-lg-6 subtask my-3">
                        <a class="btn card bg-light border-0" href="{{ url_for('main.explore_adapters', task=task.task, subtask=subtask.subtask) }}">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ subtask['displayname'] or subtask['subtask'] }}
                                    {% if subtask.language %}
                                        <span class="notice">{{ subtask.language | capitalize }}</span>
                                    {% endif %}
                                </h5>
                                <p class="card-text">
                                    {{ subtask.description|truncate(200) if subtask.description }}

                                    {# includes the task name in the JS search #}
                                    <span class="invisible">{{ task.displayname }}</span>
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <div id="NoSearchResult" class="d-none">
        <div class="alert alert-light">
            No tasks and datasets for <span class="query font-weight-bold"></span>
        </div>
        <div class="mt-5">
            <div class="speech-bubble">
                <p class="m-0">Add your
                    {{ 'language' if task_type.id == 'text_lang' else 'task' }}
                    to AdapterHub,
                    <br/>
                    it's super awesome!
                </p>
                <div class="mt-3 text-right">
                    <a class="text-white btn btn-sm border-white" href="{{ config.CONTRIBUTING_URL }}#add-your-pre-trained-adapter">
                        <i class="fas fa-rocket"></i> Get started
                    </a>
                </div>
            </div>
            <img src="{{ url_for('static', filename='adapter-bert.png') }}" height="350"/>
        </div>
    </div>

    <script>
        $(function(){
            $('#TypeToSearch').on('input paste change', function() {
                const searchBox = $('#TypeToSearch');
                const searchInfo = $('#SearchInfo');
                const q = searchBox.val().toLowerCase();

                if(q.length === 0) {
                    $('.subtask, .task').removeClass('d-none').addClass('d-block');
                    $('#NoSearchResult').addClass('d-none').removeClass('d-block');
                } else {
                    searchInfo.removeClass('d-none')
                    // hide subtasks
                    $('.subtask').each(function () {
                        var visible = $(this).text().toLowerCase().includes(q);
                        if (visible) {
                            $(this).removeClass('d-none').addClass('d-block');
                        } else {
                            $(this).addClass('d-none').removeClass('d-block');
                        }
                    })

                    // hide tasks if no subtasks are present
                    $('.task').each(function () {
                        var visible = $(this).find('.subtask.d-block').length > 0;
                        if (visible) {
                            $(this).removeClass('d-none').addClass('d-block');
                        } else {
                            $(this).addClass('d-none').removeClass('d-block');
                        }
                    });

                    // count search results
                    const nResults = $('.subtask.d-block').length;
                    if(nResults > 0) {
                        $('#NoSearchResult').addClass('d-none');
                    } else {
                        $('#NoSearchResult').removeClass('d-none')
                            .find('.query').text(searchBox.val());
                    }
                }
            });
        });
    </script>
{% endblock %}
