{% extends 'base.html' %}
{% set active_page = "explore" %}

{% block header %}
    <div class="row adapter-nav" id="AdapterTypeNav">
        <div class="col-lg-2">
            <h1>
                {% block title %} Explore {% endblock %}
            </h1>
        </div>
        <div class="col-lg-5 col-xl-4">
            <div class="navigation">
                <p>Adapters for</p>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="{{ 'nav-link active' if task_type.id == 'text_task' else 'nav-link' }}"
                           href="{{ url_for('main.explore_tasks', task_type='text_task') }}">
                            Tasks
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="{{ 'nav-link active' if task_type.id == 'text_lang' else 'nav-link' }}"
                           href="{{ url_for('main.explore_tasks', task_type='text_lang') }}">
                            Languages
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg documentation">
            <i class="fa fa-book"></i>
            {{ task_type.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type="text" class="form-control form-control-lg" id="TypeToSearch"
                   placeholder="Type to filter {{ 'languages' if task_type.id == 'text_lang' else 'tasks' }}...">
        </div>
    </div>
{% endblock %}

{% block content %}
    {% for task in tasks %}
        <div class="task">
            <h3>{{ task.displayname }}
                <i class="fas fa-info-circle activate-tooltip" data-toggle="tooltip" data-placement="right" title="{{ task.description }}"></i>
            </h3>
            <div class="row subtasks">
                {% for subtask in subtasks[task.task] %}
                    <div class="col-lg-6 subtask">
                        <a class="btn card bg-light border-0" href="{{ url_for('main.explore_adapters', task=task.task, subtask=subtask.subtask) }}">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ subtask['displayname'] or subtask['subtask'] }}
                                    {% if subtask.language %}
                                        <span class="notice">{{ subtask.language | capitalize }}</span>
                                    {% endif %}
                                </h5>
                                <p class="card-text">
                                    {{ subtask.description|truncate(200) if subtask.description }}

                                    {# includes the task name in the JS search #}
                                    <span class="invisible">{{ task.displayname }}</span>
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}


    <script>
        // TODO refactor
        $(function(){
            $('#TypeToSearch').on('input', function() {
                var q = $('#TypeToSearch').val().toLowerCase();

                // hide subtasks
                $('.subtask').each(function () {
                    var visible = $(this).text().toLowerCase().includes(q);
                    if(visible) {
                        $(this).removeClass('d-none');
                        $(this).addClass('d-block');
                    } else {
                        $(this).addClass('d-none');
                        $(this).removeClass('d-block');
                    }
                })

                // hide tasks if no subtasks are present
                $('.task').each(function(){
                    var visible = $(this).find('.subtask.d-block').length > 0;
                    if(visible) {
                        $(this).removeClass('d-none');
                        $(this).addClass('d-block');
                    } else {
                        $(this).addClass('d-none');
                        $(this).removeClass('d-block');
                    }
                });
            })
        });
    </script>
{% endblock %}
