{% extends 'base.html' %}
{% set active_page = "explore" %}

{% set task_name = subtask.task %}
{% set subtask_name = subtask.subtask %}

{% block header %}
<div class="row breadcrumb-nav mb-3">
    <nav aria-label="breadcrumb" class="col">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
                <a href="{{url_for('main.explore_tasks')}}">Explore</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{url_for('main.explore_tasks', task_type=subtask.task_type)}}">{{ subtask.task_type_ref.displayname }}</a>
            </li>
{#            <li class="breadcrumb-item">#}
{#                <a href="{{url_for('main.explore_adapters', task=task_name, subtask=subtask_name)}}">{{ subtask }}</a>#}
{#            </li>#}
{#            {% if model_type %}#}
{#                <li class="breadcrumb-item">#}
{#                    <a href="{{url_for('main.explore_adapters', task=task_name, subtask=subtask_name, model_type=model_type)}}">{{ model_type }}</a>#}
{#                </li>#}
{#            {% endif %}#}
{#            {% if model %}#}
{#                <li class="breadcrumb-item">#}
{#                    <a href="{{url_for('main.explore_adapters', task=task_name, subtask=subtask_name, model_type=model_type, model=model)}}">{{ model }}</a>#}
{#                </li>#}
{#            {% endif %}#}
        </ol>
    </nav>
</div>

<div class="row adapter-nav" id="ModelTypeNav">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-auto mr-5 mb-2">
                <h1>
                    {{ subtask.task_type_ref.displayname }} Adapters
                </h1>
            </div>
            <div class="col-md-auto">
                <div class="navigation row">
                    <div class="col-xs-auto ml-3">
                        <div class="row">
                            <div class="col-auto">
                                <p>Pre-trained model: </p>
                            </div>
                            <div class="col">
                                <div class="dropdown show mr-2 mb-1">
                                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ model_type or 'All architectures'}}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                        <a class="dropdown-item {{ 'active' if not model_type else '' }}"
                                           href="{{url_for('main.explore_adapters', task=task_name, subtask=subtask_name)}}">
                                            All architectures
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        {% for mt in all_model_types %}
                                            <a class="dropdown-item {{ 'active' if model_type == mt else '' }}"
                                               href="{{url_for('main.explore_adapters', task=task_name, subtask=subtask_name, model_type=mt)}}">
                                                {{ mt }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% if model_type %}
                                    <div class="dropdown show">
                                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ model or 'All  shortcut names'}}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                                            <a class="dropdown-item {{ 'active' if not model else '' }}"
                                               href="{{url_for('main.explore_adapters', task=task_name, subtask=subtask_name, model_type=model_type)}}">
                                                All shortcut names
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            {% for m in all_models %}
                                                <a class="dropdown-item {{ 'active' if m.name == model else '' }}"
                                                   href="{{url_for('main.explore_adapters', task=task_name, subtask=subtask_name, model_type=model_type, model=m.name)}}">
                                                    {{ m.name }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-auto mr-5">
                <h2 class="mt-0">
                    {% block title %}{{subtask.displayname or subtask}}{% endblock %}
                </h2>
            </div>
            <div class="col-md documentation mt-2 mt-md-1">
                <i class="fa fa-book"></i>
                {{ subtask.description }}
            </div>
        </div>
        <div class="row mt-2 subtask-button-list">
            {% if subtask.url %}
            <a class="btn btn-outline-light" href="{{ subtask.url }}"><i class="fa fa-globe"></i>&nbsp; Website</a>
            {% endif %}
            {% if subtask.hf_datasets_id %}
            <a class="btn btn-outline-light" href="https://huggingface.co/datasets/{{ subtask.hf_datasets_id }}">🤗&nbsp; huggingface.co</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row adapters">
    {% for item in items %}
        <div class="col-lg-6 adapter my-lg-3 my-2">
            <a class="btn card bg-light border-0" href="{{ url_for('main.adapter_details', groupname=item['groupname'], filename=item['filename']) }}">
                <div class="card-body">
                    <h5 class="card-title">
                        {% if item.source == "hf" %}
                        {{ item['groupname']+"/"+item['filename'] }}
                        {% else %}
                        {{ item['task']+"/"+item['subtask'] }}@{{ item['groupname'] }}
                        {% endif %}
                        <span class="notice">
                            {{ item.model_name }}
                        </span>
                    </h5>
                    <div class="features">
                        {% if item.source == "hf" %}
                            <span class="badge badge-hf text-white">huggingface.co</span>
                        {% else %}
                            <span class="badge badge-primary">{{ item.files|length }} version{% if item.files|length > 1 %}s{% endif %}</span>
                            <span class="badge badge-primary">Architecture: {{ item['config'] }}</span>
                            {% if item.config_non_linearity %}
                            <span class="badge badge-primary">non-linearity: {{ item.config_non_linearity }}</span>
                            {% endif %}
                            {% if item.config_reduction_factor %}
                            <span class="badge badge-primary">reduction factor: {{ item.config_reduction_factor }}</span>
                            {% endif %}
                        {% endif %}
                        <span class="badge badge-primary">Head:&nbsp;
                            {% if item.prediction_head %}
                            <i class="fas fa-check"></i>
                            {% else %}
                            <i class="fas fa-times"></i>
                            {% endif %}
                        </span>
                    </div>
                    <p class="card-text">
                        {% if item['description'] %}
                            {{ item['description']|truncate(200) }}
                        {% endif %}
                    </p>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

{% if items|length == 0 %}
    <div id="NoSearchResult">
        <div class="alert alert-light">
            No {{ subtask.task_type_ref.displayname | lower }} adapters available for <span class="font-weight-bold">{{ task_name }}/{{ subtask_name }}</span> <i class="fas fa-arrow-right"></i> <span class="font-weight-bold">{{ model }}</span>
        </div>
        <div class="mt-5">
            <div class="speech-bubble">
                <p class="m-0">Add your adapter to AdapterHub,
                    <br/>
                    it's super awesome!
                </p>
                <div class="mt-3 text-right">
                    <a class="text-white btn btn-sm border-white" href="{{ config.CONTRIBUTING_URL }}#add-your-pre-trained-adapter">
                        <i class="fas fa-rocket"></i> Get started
                    </a>
                </div>
            </div>
            <img src="{{ url_for('static', filename='adapter-bert.png') }}" height="300"/>
        </div>
    </div>
{% endif %}

{% endblock %}