{% extends 'base.html' %}
{% set active_page = "explore" %}

{% block header %}
    <div class="row">
        <div class="col-md-auto mr-5">
            <h1>{% block title %}{{subtask.displayname or subtask}}{% endblock %}</h1>
            <h2>{{ subtask.task_type_ref.displayname }} Adapters</h2>
        </div>
        <div class="col-md-auto mt-3 mt-md-0">
            <div class="adapter-nav" id="ModelTypeNav">
                <div class="navigation">
                    <p>Model type</p>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="{{ 'nav-link active' if not model_type else 'nav-link' }}"
                               href="{{url_for('main.explore_adapters', task=task, subtask=subtask)}}">
                                All models
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="{{ 'nav-link active' if model_type == 'bert' else 'nav-link' }}"
                               href="{{url_for('main.explore_adapters', task=task, subtask=subtask, model_type='bert')}}">
                                BERT
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="{{ 'nav-link active' if model_type == 'roberta' else 'nav-link' }}"
                               href="{{url_for('main.explore_adapters', task=task, subtask=subtask, model_type='roberta')}}">
                                RoBERTa
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            {% if model_type %}
            <div class="adapter-nav">
                <div class="navigation">
                    <p>Model Name</p>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="{{ 'nav-link active' if not model else 'nav-link' }}"
                               href="{{url_for('main.explore_adapters', task=task, subtask=subtask, model_type=model_type)}}">
                                Show all
                            </a>
                        </li>
                            {% for m in all_models %}
                                <li class="nav-item">
                                    <a class="{{ 'nav-link active' if m.name == model else 'nav-link' }}"
                                       href="{{url_for('main.explore_adapters', task=task, subtask=subtask, model_type=model_type, model=m.name)}}">
                                        {{ m.name }}
                                    </a>
                                </li>
                            {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row breadcrumb-nav">
        <nav aria-label="breadcrumb" class="col">
            <ol class="breadcrumb bg-transparent">
                <li class="breadcrumb-item">
                    <a href="{{url_for('main.explore_tasks')}}">Explore</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{url_for('main.explore_tasks', task_type=subtask.task_type)}}">{{ subtask.task_type_ref.displayname }}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{url_for('main.explore_adapters', task=subtask.task, subtask=subtask.subtask)}}">{{ subtask }}</a>
                </li>
                {% if model_type %}
                    <li class="breadcrumb-item">
                        <a href="{{url_for('main.explore_adapters', task=subtask.task, subtask=subtask.subtask, model_type=model_type)}}">{{ model_type.title() }}</a>
                    </li>
                {% endif %}
            </ol>
        </nav>
    </div>
{% endblock %}

{% block content %}
<div class="row mt-3">
    {% for item in items %}
    <div class="col-lg-6 mb-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    <a href="{{ url_for('main.adapter_details', groupname=item['groupname'], filename=item['filename']) }}" class="card-link">
                        {{ item['task']+"/"+item['subtask'] }}@{{ item['groupname'] }}
                    </a>
                </h5>
                <h6 class="card-subtitle text-muted">
                    Model: {{ item.model_name }}
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    Type: {{ item.adapter_type['displayname'].title() }}
                </h6>
            </div>
            <div class="card-body py-3">
                <p class="mb-2">
                    <span class="badge badge-primary">{{ item['config'] }}</span>
                    <span class="badge badge-primary">v. {{ item['default_version'] }}</span>
                    <span class="badge badge-primary">{{ item['upload_date'].strftime('%Y-%m-%d %H:%m') }}</span>
                    <span class="badge badge-primary">{{ item.files|length }} Version(s)</span>
                </p>
                <p class="card-text">
                    {{ item['description']|truncate(200) }}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
