{% extends 'base.html' %}
{% set active_page = "explore" %}

{% block header %}
    <div class="form-group row">
        <label for="TypeToSearch" class="col-sm-3 col-form-label">
        <h1>
            {% block title %} Explore {% endblock %}
        </h1>
        </label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-lg" id="TypeToSearch" placeholder="Type to search...">
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="mb-2">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="{{ 'nav-link active' if not task_type else 'nav-link' }}"
                   href="{{url_for('main.explore_tasks')}}">
                    All
                </a>
            </li>
            <li class="nav-item">
                <a class="{{ 'nav-link active' if task_type == 'text_task' else 'nav-link' }}"
                   href="{{url_for('main.explore_tasks', task_type='text_task')}}">
                    Task
                </a>
            </li>
            <li class="nav-item">
                <a class="{{ 'nav-link active' if task_type == 'text_lang' else 'nav-link' }}"
                   href="{{url_for('main.explore_tasks', task_type='text_lang')}}">
                    Language
                </a>
            </li>
        </ul>
    </section>
    {% for task in tasks %}
    <h2 class="my-3 text-muted">{{ task.displayname }}</h2>
    <p>
        {{ task.description }}
    </p>
    <div class="row mt-3">
        {% for subtask in subtasks[task.task] %}
        <div class="col-lg-6 mb-4">
            <div class="card">
                <h5 class="card-header">
                    <a href="{{ url_for('main.explore_adapters', task=task.task, subtask=subtask.subtask) }}" class="card-link">
                        {{ subtask['displayname'] or subtask['subtask'] }}
                    </a>
                </h5>
                <div class="card-body py-3">
                    <p class="card-text">
                        {{ subtask.description if subtask.description }}
                        {% if subtask.url %}
                        &nbsp; <a href="{{ subtask.url }}">{{ subtask.url }}</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}
