{% extends 'base.html' %}

{% block title %}Imprint & Privacy{% endblock %}

{% block header %}
<h1>Imprint & Privacy</h1>
{% endblock %}

{% block content %}
    <div class="row">
    <section class="col-md-6">
        <h2>Provider of this web page</h2>
        <h4>Technische Universität Darmstadt <br/>  Project AdapterHub </h4>
        <p>Represented by the President of Technische Universität Darmstadt, Prof. Hans Jürgen Prömel.</p>
        <h4>Mailing address</h4>
        <p>Ubiquitous Knowledge Processing (UKP) Lab <br/> 
            Department of Computer Science <br/> 
            Technische Universität Darmstadt <br/> 
            Hochschulstr. 10  <br/> 
            64289 Darmstadt / Germany </p>
        <h4>Contact information</h4>
        <p>T +49 (0) 6151 / 16-25297 <br/> 
            F +49 (0) 6151 / 16-25295 <br/>  
            pfeiffer@ukp.tu-darmstadt.de</p>
        <h4>AdapterHub</h4>
        <p>AdapterHub is a project of Ubiquitous Knowledge Processing (UKP) Lab in the Department of 
            Computer Science at Technische Universität Darmstadt. The Technische Universität Darmstadt 
            is a corporation under public law with legal capacity in accordance with Section 1 para. 1 
            in conjunction with Section 2 para. 1 no. 1 HHG (Hessisches Hochschulgesetz of 14 December 
            2009, GVBl. I p. 666). Since the TU Darmstadt Act (Gesetz zur organisatorischen Fortentwicklung
            der Technischen Universität Darmstadt of 5 December 2004, GVBl. I p. 382, in the version of
            14 December 2009, GVBl. I p. 699) came into force, it has been an autonomous university of the 
            State of Hesse.</p>
        <h4>Disclaimer</h4>
        <p>Despite careful content control, we assume no liability for the content of external links. 
            The operators of the linked pages are solely responsible for their content. However, we can 
            declare that at the time the links were created, no illegal content was discernible on the 
            linked websites. If we become aware of illegal or erroneous content on websites to which we 
            link, we will remove the link.</p>
        <h4>Cookies</h4>
        <p>We use cookies to optimize and continuously improve our website for you. By continuing to use 
            the website, you agree to the use of cookies. Further information on cookies can be found in 
            our data protection declaration. </p>
    </section>

    <section class="col-md-6">
        <h2>Data Protection Declaration</h2>
        <h4>§ 1: Information about the collection of personal data</h4>
        <ol>
            <li>In the following we inform about the collection of personal data when using our website. 
                Personal data is all data that is personally identifiable to you, e.g. name, address, 
                e-mail address, user behavior.</li>
            <li>Responsible according to Art. 4 para. 7 EU Data Protection Basic Regulation (GDPR) is 
                Technische Universität Darmstadt, represented by its president Prof. Dr. Hans Jürgen Prömel, 
                Ubiquitous Knowledge Processing (UKP) Lab at Fachbereich Informatik, Hochschulstr. 10, 
                64289 Darmstadt, Email: pfeiffer@ukp.tu-darmstadt.de (see our imprint: 
                https://adapterhub.ml/imprint-privacy/). You can contact the data protection officer at: 
                datenschutz@tu-darmstadt.de.</li>
            <li>When you contact us by e-mail or via a contact form, the data you provide (your e-mail 
                address, if applicable your name and/or your telephone number) will be stored by us in 
                order to answer your questions. We delete the data accrued in this connection after the 
                storage is no longer necessary or limit the processing if legal retention periods exist.</li>
            <li>If individual functions of our offer are also used by contracted service providers and 
                want to use your data for promotional purposes, we will inform you below in detail about 
                the respective procedure. Thereby, we also specify the defined criteria for the storage 
                period.</li>
        </ol>
        <h4>§ 2: Your rights</h4>
        <ol>
            <li>You have the following rights against us with regard to personal data concerning you:
            <ul>
                 <li>right to information</li>
                <li>right to correction or deletion</li>
                <li>right to limitation of processing</li>
                <li>right of opposition to the processing</li>
                <li>right to data transferability.</li>
            </ul>
            </li>
            <li>You also have the right to complain to a data protection supervisory authority about our processing of your personal data.</li>
        </ol>
    </section>
    </div>
{% endblock %}
