{% extends 'base.html' %}

{% block title %}Imprint & Privacy{% endblock %}

{% block header %}
<h1>Imprint & Privacy</h1>
{% endblock %}

{% block content %}
    <div class="row">
    <section class="col-md-6">
        <h2>Provider of this web page</h2>
        <h3>Technische Universität Darmstadte <br/>  Project AdapterHub </h3>
        <p>represented by the President of Technische Universität Darmstadt, Prof. Hans Jürgen Prömel.</p>
        <h3>Mailing address</h3>
        <p>Ubiquitous Knowledge Processing (UKP) Lab <br/> Department of Computer Science<br/> </p>
        
    </section>

    <section class="col-md-6">
        <h2>Privacy</h2>
        <p>Add content here</p>
    </section>
    </div>
{% endblock %}
