{% extends 'base.html' %}

{% block title %}Imprint & Privacy{% endblock %}

{% block header %}
<h1>Imprint & Privacy</h1>
{% endblock %}

{% block content %}
    <div class="row">
    <section class="col-md-6">
        <h2>Provider of this web page</h2>
        <h4>Technische Universität Darmstadt <br/>  Project AdapterHub </h4>
        <p>Represented by the President of Technische Universität Darmstadt, Prof. Hans Jürgen Prömel.</p>
        <h4>Mailing address</h4>
        <p>Ubiquitous Knowledge Processing (UKP) Lab <br/> 
            Department of Computer Science <br/> 
            Technische Universität Darmstadt <br/> 
            Hochschulstr. 10  <br/> 
            64289 Darmstadt / Germany </p>
        <h4>Contact information</h4>
        <p>T +49 (0) 6151 / 16-25297 <br/> 
            F +49 (0) 6151 / 16-25295 <br/>  
            pfeiffer@ukp.tu-darmstadt.de</p>
        <h4>AdapterHub</h4>
        <p>AdapterHub is a project of Ubiquitous Knowledge Processing (UKP) Lab in the Department of 
            Computer Science at Technische Universität Darmstadt. The Technische Universität Darmstadt 
            is a corporation under public law with legal capacity in accordance with Section 1 para. 1 
            in conjunction with Section 2 para. 1 no. 1 HHG (Hessisches Hochschulgesetz of 14 December 
            2009, GVBl. I p. 666). Since the TU Darmstadt Act (Gesetz zur organisatorischen Fortentwicklung
            der Technischen Universität Darmstadt of 5 December 2004, GVBl. I p. 382, in the version of
            14 December 2009, GVBl. I p. 699) came into force, it has been an autonomous university of the 
            State of Hesse.</p>
        <h4>Disclaimer</h4>
        <p>Despite careful content control, we assume no liability for the content of external links. 
            The operators of the linked pages are solely responsible for their content. However, we can 
            declare that at the time the links were created, no illegal content was discernible on the 
            linked websites. If we become aware of illegal or erroneous content on websites to which we 
            link, we will remove the link.</p>
        <h4>Cookies</h4>
        <p>We use cookies to optimize and continuously improve our website for you. By continuing to use 
            the website, you agree to the use of cookies. Further information on cookies can be found in 
            our data protection declaration. </p>
    </section>

    <section class="col-md-6">
        <h2>Data Protection Declaration</h2>
        <h4>§ 1: Information about the collection of personal data</h4>
        <ol>
            <li>In the following we inform about the collection of personal data when using our website. 
                Personal data is all data that is personally identifiable to you, e.g. name, address, 
                e-mail address, user behavior.</li>
            <li>Responsible according to Art. 4 para. 7 EU Data Protection Basic Regulation (GDPR) is 
                Technische Universität Darmstadt, represented by its president Prof. Dr. Hans Jürgen Prömel, 
                Ubiquitous Knowledge Processing (UKP) Lab at Fachbereich Informatik, Hochschulstr. 10, 
                64289 Darmstadt, Email: pfeiffer@ukp.tu-darmstadt.de (see our imprint: 
                https://adapterhub.ml/imprint-privacy/). You can contact the data protection officer at: 
                datenschutz@tu-darmstadt.de.</li>
            <li>When you contact us by e-mail or via a contact form, the data you provide (your e-mail 
                address, if applicable your name and/or your telephone number) will be stored by us in 
                order to answer your questions. We delete the data accrued in this connection after the 
                storage is no longer necessary or limit the processing if legal retention periods exist.</li>
            <li>If individual functions of our offer are also used by contracted service providers and 
                want to use your data for promotional purposes, we will inform you below in detail about 
                the respective procedure. Thereby, we also specify the defined criteria for the storage 
                period.</li>
        </ol>
        <h4>§ 2: Your rights</h4>
        <ol>
            <li>You have the following rights against us with regard to personal data concerning you:
            <ul>
                 <li>right to information</li>
                <li>right to correction or deletion</li>
                <li>right to limitation of processing</li>
                <li>right of opposition to the processing</li>
                <li>right to data transferability.</li>
            </ul>
            </li>
            <li>You also have the right to complain to a data protection supervisory authority about our 
                processing of your personal data.</li>
        </ol>
       <h4>§ 3: Collection of personal data when you visit our website</h4>
        <ol>
        <li>If you use the website for information purposes only, hence, if you do not register or otherwise
            provide us with information, we only collect the personal data that your browser transmits to 
            our server. If you wish to view our website, we collect the following data, which are technically 
            necessary for us to display our website to you and to guarantee stability and security (legal
            basis is Art. 6 Para. 1 S. 1 lit. f GDPR): 
            <ul>    
                <li>IP address</li>
                <li>date and time of the request</li>
                <li>content of the request (specific page)</li>
                <li>access status/http status code</li>
                <li>website from which the request comes</li>
                <li>browser</li>
                <li>language and version of the browser software</li>
                <li>operating system of the accessing computer</li>
                <li>the region (e.g. federal state) from which our website was accessed.</li>     
            </ul>
        </li>
        <li>In addition to the aforementioned data, cookies are stored on your computer when you use our 
            website. Cookies are small text files that are assigned on your hard disk to the browser you 
            use and through which the place that places the cookie (here by us) receives certain information. 
            Cookies cannot run programs or transmit viruses to your computer. They serve to make the internet 
            offer more user-friendly and effective overall.</li>
         <li>Use of cookies: 
             <ul>    
                <li>a. This website uses so-called persistent cookies, the functionality of which is explained 
                    below. Persistent cookies are automatically deleted after a specified period, which may 
                    vary depending on the cookie. You can delete cookies at any time in the security settings 
                    of your browser.</li>
                <li>b. You can configure your browser settings according to your wishes and, for example, 
                    refuse to accept third-party cookies or all cookies. Please note that you may not be able 
                    to use all functions of this website.</li>  
            </ul>
            </li>
        </ol>
        <h4>§ 4: Further functions and offers of our website</h4>
        <p>In addition to the purely informational use of our website, we offer various services that you can 
            use if you are interested. To do so, you may be required to provide other personal data that we 
            use to provide the respective services and to which the aforementioned data processing principles apply.
            <br/> <br/> 
            In particular, if you use the text/search field provided on the website, we save the search term you have entered 
            together with the information specified under § 3. Our goal is to continuously improve our offer with 
            the help of the saved search queries.
            <br/> <br/> 
             For some of our services (e.g. search for adapters) you can also access them via a programming interface
            (API). In this case, registration is required to generate a personalized key for access to the programming 
            interface. We store the data provided in the registration form and the corresponding key for the duration 
            of the validity of the key. In the case of the use of services via the programming interface, we store the
            data mentioned under § 3 and § 4. </p>
         <h4>§ 5: Objection or revocation against the processing of your data</h4>
            <ol>
                <li>If you have given your consent to the processing of your data, you can revoke this at any time. 
                    Such a revocation influences the permissibility of processing your personal data after you have
                    given it to us. </li>
                <li> If we base the processing of your personal data on the balancing of interests, you may object 
                    to the processing. This is the case if the processing is not necessary for the fulfilment of a 
                    contract with you, which is described by us in the following description of the function. When 
                    exercising such objection, we ask you to explain the reasons why we should not process your personal
                    data as we have done. In the event of your reasonable objection, we will examine the situation and 
                    either stop or adjust data processing or point out to you our compelling reasons for protection, on 
                    the basis of which we will continue processing. </li>
            </ol>
        
    </section>
    </div>
{% endblock %}
