{% extends 'base.html' %}

{% block title %} {{ n_adapters }} adapters for {{ n_subtasks }} text tasks and {{ n_languages }} languages {% endblock %}

{% block header %}
    <div class="row">
        <div class="text-light col-md-9">
            <p class="highlight-text my-0">
                A <span class="highlight">central repository</span>
                for pre-trained <span class="highlight">adapter modules</span>
            </p>
            <p class="mt-2">
                <span class="badge badge-light p-1 py-md-2 mr-md-1 px-md-3 text-black-65">{{ n_adapters }} <span class=" font-weight-normal">adapters</span></span>
                <span class="badge badge-light p-1 py-md-2 mr-md-1 px-md-3 text-black-65">{{ n_subtasks }} <span class=" font-weight-normal">text tasks</span></span>
                <span class="badge badge-light p-1 py-md-2 px-md-3 text-black-65">{{ n_languages }} <span class=" font-weight-normal">languages</span></span>
            </p>
            <pre class="text-white py-2 px-3 my-4 d-none d-md-block">pip install adapter-transformers</pre>
            <div id="IndexButtonRow" class="rounded mt-lg-1">
                <a class="btn"
                   href="{{ url_for('main.explore_tasks') }}">
                    <div>
                        <i class="fas fa-binoculars"></i>
                    </div>
                    Explore
                </a>
                <a class="btn d-none d-xl-inline-block"
                   href="{{ config.CONTRIBUTING_URL }}">
                    <div>
                        <i class="fas fa-upload"></i>
                    </div>
                    Upload
                </a>
                <a class="btn"
                   href="{{ config.DOCUMENTATION_URL }}">
                    <div>
                        <i class="fas fa-book"></i>
                    </div>
                    Docs
                </a>
                <a class="btn d-none d-sm-inline-block"
                   href="{{ url_for('main.blog') }}">
                    <div>
                        <i class="fas fa-bullhorn"></i>
                    </div>
                    Blog
                </a>
                <a class="btn d-none d-lg-inline-block"
                   href="https://github.com/Adapter-Hub/adapter-transformers">
                    <div>
                        <i class="fab fa-github"></i>
                    </div>
                    GitHub
                </a>
                <a class="btn"
                   href="https://arxiv.org/abs/2007.07779" target="_blank">
                    <div>
                        <i class="fas fa-scroll"></i>
                    </div>
                    Paper
                </a>
            </div>
        </div>
        <div class="col-sm-3 text-right d-none d-md-block">
            <img id="HeaderLogo" src="{{ url_for('static', filename='adapter-bert.png') }}" height="252"/>
        </div>
    </div>
{% endblock %}

{% block content %}

    <section>
        <div class="row pt-lg-3">
            <div class="card col-md mx-3 px-0 px-md-2 bg-light border-0">
                <div class="card-body">
                    <h5 class="card-title">Adapters are Lightweight 🤖</h5>
                    <p class="card-text"> "Adapter" refers to a set of newly introduced weights, typically within the layers of a transformer model. Adapters provide an alternative to fully fine-tuning the model for each downstream task, while maintaining performance. They also have the added benefit of requiring as little as 1MB of storage space per task!
                    <b><a href="https://adapterhub.ml/blog/2020/11/adapting-transformers-with-adapterhub/">Learn More!</a></b>
                    </p>
                </div>
            </div>

            <div class="card col-md mx-3 ml-md-0 mr-md-3 mr-lg-0 mt-3 mt-md-0 px-0 px-md-2 bg-light border-0">
                <div class="card-body">
                    <h5 class="card-title">Modular, Composable, and Extensible 🔧</h5>
                    <p class="card-text"> Adapters, being self-contained moduar units, allow for easy extension and composition. This opens up opportunities to compose adapters to solve new tasks.
                    <b><a href="https://docs.adapterhub.ml/adapter_composition.html">Learn More!</a></b>
                    </p>
                </div>
            </div>

            <div class="card col-lg mx-3 mt-3 mt-lg-0 px-0 px-md-2 bg-light border-0">
                <div class="card-body">
                    <h5 class="card-title">Built on HuggingFace 🤗 Transformers 🚀</h5>
                    <p class="card-text">AdapterHub builds on the <a href=https://github.com/huggingface/transformers target="_blank">HuggingFace transformers</a> framework, requiring as little as two additional lines of code to train adapters for a downstream task.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="Quickstart">
        <div class="row">
            <div class="col col-lg-12">
                <h1>Quickstart 🔥</h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-12 col-md-4 d-none d-lg-block">
                <div class="list-group flex-md-column flex-row" role="tablist">
                    <a href="#quickstartInference" class="list-group-item list-group-item-action active" data-toggle="tab" role="tab" aria-controls="quickstartInference" aria-selected="true">
                        Inference
                    </a>
                    <a href="#quickstartTraining" class="list-group-item list-group-item-action" data-toggle="tab" role="tab" aria-controls="quickstartTraining" aria-selected="true">
                        Training
                    </a>
                    <a href="#quickstartAdapterFusion" class="list-group-item list-group-item-action" data-toggle="tab" role="tab" aria-controls="quickstartAdapterFusion" aria-selected="true">
                        AdapterFusion
                    </a>
                    <a href="https://github.com/Adapter-Hub/adapter-transformers/tree/v2/notebooks" class="list-group-item list-group-item-action">
                        More&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i>
                    </a>
                    <a href="#quickstartAdapterDrop" class="list-group-item list-group-item-action" data-toggle="tab" role="tab" aria-controls="quickstartAdapterDrop" aria-selected="true">
                        AdapterDrop
                    </a>
                    <a href="#quickstartParallelInference" class="list-group-item list-group-item-action" data-toggle="tab" role="tab" aria-controls="quickstartParallelInference" aria-selected="true">
                        Parallel Inference
                    </a>
                </div>
            </div>

            <div class="col col-12 d-lg-none">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a href="#quickstartInference" class="nav-link active" data-toggle="tab" role="tab" aria-controls="quickstartInference" aria-selected="true">
                            Inference
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#quickstartTraining" class="nav-link" data-toggle="tab" role="tab" aria-controls="quickstartTraining" aria-selected="true">
                            Training
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#quickstartAdapterFusion" class="nav-link" data-toggle="tab" role="tab" aria-controls="quickstartAdapterFusion" aria-selected="true">
                            AdapterFusion
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/Adapter-Hub/adapter-transformers/tree/v2/notebooks" class="nav-link">
                            More&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="#quickstartAdapterDrop" class="nav-link" data-toggle="tab" role="tab" aria-controls="quickstartAdapterDrop" aria-selected="true">
                            AdapterDrop
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#quickstartParallelInference" class="nav-link" data-toggle="tab" role="tab" aria-controls="quickstartParallelInference" aria-selected="true">
                            Parallel Inference
                        </a>
                    </li> -->
                </ul>
            </div>

            <div class="tab-content col col-12 col-lg-8 mt-4 mt-lg-0">
                <div class="tab-pane fade show active" id="quickstartInference" role="tabpanel">
                    {% include 'quickstart/inference.html' %}
                </div>

                <div class="tab-pane fade" id="quickstartTraining" role="tabpanel">
                    {% include 'quickstart/training.html' %}
                </div>

                <div class="tab-pane fade" id="quickstartAdapterFusion" role="tabpanel">
                    {% include 'quickstart/adapter-fusion.html' %}
                </div>

                <div class="tab-pane fade" id="quickstartAdapterDrop" role="tabpanel">
                    {% include 'quickstart/adapter-drop.html' %}
                </div>

                <div class="tab-pane fade" id="quickstartParallelInference" role="tabpanel">
                    {% include 'quickstart/parallel-inference.html' %}
                </div>
            </div>
        </div>
    </section>

    <section>
        <h1>Citation 📝</h1>
        <pre class="p-4 code">
@inproceedings{pfeiffer2020AdapterHub,
    title={AdapterHub: A Framework for Adapting Transformers},
    author={Jonas Pfeiffer and
            Andreas R\"uckl\'{e} and
            Clifton Poth and
            Aishwarya Kamath and
            Ivan Vuli\'{c} and
            Sebastian Ruder and
            Kyunghyun Cho and
            Iryna Gurevych},
    booktitle={Proceedings of the 2020 Conference on Empirical Methods in Natural Language Processing (EMNLP 2020): Systems Demonstrations},
    year={2020},
    address = "Online",
    publisher = "Association for Computational Linguistics",
    url = "https://www.aclweb.org/anthology/2020.emnlp-demos.7",
    pages = "46--54",
}</pre>
    </section>


{% endblock %}
