{% extends 'base.html' %}

{% block title %} {{ n_adapters }} adapters for {{ n_subtasks }} text tasks and {{ n_languages }} languages {% endblock %}

{% block header %}
    <div class="row">
        <div class="text-light col-md-9">
            <p class="highlight-text mt-md-3">
                A <span class="highlight">central repository</span>
                for pre-trained <span class="highlight">adapter modules</span>
                <br>
                <span class="small">
                    <span class="badge badge-light p-1 px-2 text-black-65">{{ n_adapters }} <span class=" font-weight-normal">adapters</span></span>
                    <span class="badge badge-light py-1 px-2 text-black-65">{{ n_subtasks }} <span class=" font-weight-normal">text tasks</span></span>
                    <span class="badge badge-light py-1 px-2 text-black-65">{{ n_languages }} <span class=" font-weight-normal">languages</span></span>
                </span>
            </p>
            <div id="IndexButtonRow" class="rounded mb-3">
                <a class="btn"
                   href="{{ url_for('main.explore_tasks') }}">
                    <div>
                        <i class="fas fa-binoculars"></i>
                    </div>
                    Explore
                </a>
                <a class="btn d-none d-sm-inline-block"
                   href="{{ config.CONTRIBUTING_URL }}">
                    <div>
                        <i class="fas fa-upload"></i>
                    </div>
                    Upload
                </a>
                <a class="btn"
                   href="{{ config.DOCUMENTATION_URL }}">
                    <div>
                        <i class="fas fa-book"></i>
                    </div>
                    Docs
                </a>
                <a class="btn d-none d-lg-inline-block"
                   href="https://github.com/adapter-hub">
                    <div>
                        <i class="fab fa-github"></i>
                    </div>
                    GitHub
                </a>
                <a class="btn"
                   href="https://github.com/adapter-hub">
                    <div>
                        <i class="fas fa-scroll"></i>
                    </div>
                    Paper
                </a>
            </div>
            <pre class="text-white py-2 px-3 mt-3 mb-1 mb-md-3">pip install git+https://github.com/adapter-hub/adapter-transformers.git</pre>
        </div>
        <div class="col-sm-3 text-right d-none d-md-block">
            <img src="{{ url_for('static', filename='adapter-bert.png') }}" height="275"/>
        </div>
    </div>
{% endblock %}

{% block content %}

    <section>
        <div class="row">
            <div class="card col-md mt-md-3 mx-3 px-0 px-md-2 bg-light border-0">
                <div class="card-body">
                    <h5 class="card-title">Adapters are Lightweight 🤖</h5>
                    <p class="card-text"> "Adapter" refers to a set of newly introduced weights, typically within the layers of a transformer model. Adapters provide an alternative to fully fine-tuning the model for each downstream task, while maintaining performance. They also have the added benefit of requiring as little as 1MB of storage space per task! </p>
                </div>
            </div>

            <div class="card col-md mx-3 ml-md-0 mr-md-3 mr-lg-0 mt-3 px-0 px-md-2 bg-light border-0">
                <div class="card-body">
                    <h5 class="card-title">Modular, Composable, and Extensible 🔧</h5>
                    <p class="card-text"> Adapters, being self-contained moduar units, allow for easy extension and composition. This opens up opportunities to compose adapters to solve new tasks. </p>  
                        
                </div>
            </div>

            <div class="card col-lg mx-3 mt-3 px-0 px-md-2 bg-light border-0">
                <div class="card-body">
                    <h5 class="card-title">Built on HuggingFace Transformers 🚀</h5>
                    <p class="card-text">AdapterHub builds on the <a href=https://github.com/huggingface/transformers target="_blank">HuggingFace transformers</a> framework requiring as little as two additional lines of code to train adapters for a downstream task.</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col col-lg-12">
                <h1>Quickstart 🔥</h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-12 col-md-4 d-none d-lg-block">
                <div class="list-group flex-md-column flex-row" role="tablist">
                    <a href="#quickstartInference" class="list-group-item list-group-item-action active" data-toggle="tab" role="tab" aria-controls="quickstartInference" aria-selected="true">
                        Inference
                    </a>
                    <a href="#quickstartTraining" class="list-group-item list-group-item-action" data-toggle="tab" role="tab" aria-controls="quickstartTraining" aria-selected="true">
                        Training
                    </a>
                </div>
            </div>

            <div class="col col-12 d-lg-none">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a href="#quickstartInference" class="nav-link active" data-toggle="tab" role="tab" aria-controls="quickstartInference" aria-selected="true">
                            Inference
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#quickstartTraining" class="nav-link" data-toggle="tab" role="tab" aria-controls="quickstartTraining" aria-selected="true">
                            Training
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tab-content col col-12 col-lg-8 mt-4 mt-lg-0">
                <div class="tab-pane fade show active" id="quickstartInference" role="tabpanel">
                    {% include 'quickstart/inference.html' %}
                </div>

                <div class="tab-pane fade" id="quickstartTraining" role="tabpanel">
                    {% include 'quickstart/training.html' %}
                </div>
            </div>
        </div>
    </section>

    <section>
        <h1>Citation 📝</h1>
        <pre class="p-4 code">
@article{pfeiffer2020AdapterHub,
    title={AdapterHub},
    author={Jonas Pfeiffer, 
            Andreas R\"uckl\'{e}, 
            Clifton Poth, 
            Aishwarya Kamath,  
            Ivan Vuli\'{c}, 
            Sebastian Ruder, 
            Kyunghyun Cho, 
            Iryna Gurevych},
    journal={ArXiv},
    year={2020}
}</pre>
    </section>


{% endblock %}
