name: Build

on:
  push:
    branches: [ master ]
  repository_dispatch:
    types: [ build ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Install
        run: |
          pip install -r requirements.txt
          cd app/static && npm install && cd ../..
          sudo npm install -g sass
      - name: Update data
        run: |
          git submodule update --remote
      - name: Build
        run: |
          flask db init
          flask freeze build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          publish_branch: gh-pages
          force_orphan: true
          cname: adapterhub.ml
